body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #0f005146; /* Цвет фона веб-страницы */
    color: #072181; /* Цвет основного текста */ 
}
h1 {
    color: #730099; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}

h1:hover{
     animation: color-change 3s infinite; 
}

@keyframes color-change {
  0%   { color: #730099; }
  50%  { color: rgb(147, 10, 140); }
  100% { color: rgb(255, 0, 225); }

}
p {
    color:rgb(51, 0, 255);
    font-size: 14px; 
    font-family: Georgia, serif;
    
    
}